// variables for theme
$light: #FFFFFF;
$primary: #09206F;
$secondary: #F9A61A;
$gray: #dee2e6;
$white: #FFF;

// custom variables for TopBar
$avatar-size: 3rem;
$notifications-menu-width: 30rem;
$notification-icon-size: 1.5rem;
$user-info-width: 15rem;
$menu-border-radius: 1rem;
$unread-dot-size: 0.5rem;

// custom style for TopBar
