// variables for theme
$light: #FFFFFF;
$primary: #09206F;
$secondary: #F9A61A;
$gray: #dee2e6;
$white: #FFF;

// custom variables for TopBar
$left-sidebar-item-padding-left: 1.5rem;

// custom style for TopBar
.left-side-bar {
  color: $light;
  height: calc(100vh - 5rem);
}

.left-bar-item {
  padding-left: $left-sidebar-item-padding-left;

  &.active {
    border-left: 0.5rem solid $white;
  }

  &:hover {
    background-color: lighten($primary, 2.5%);
  }
}
